@model QL_Lichcanhan.Models.Appointment

<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Location" class="form-label"></label>
    <input asp-for="Location" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="StartTime" class="form-label"></label>
    <input asp-for="StartTime" class="form-control" type="datetime-local" />
</div>
<div class="mb-3">
    <label asp-for="EndTime" class="form-label"></label>
    <input asp-for="EndTime" class="form-control" type="datetime-local" />
</div>
